{% extends "Blog/base.html" %}

{% block contenido_principal %}
<div class="container mt-5">
    <h1>Editar Blog: {{ blog.titulo }}</h1>
    <div class="card p-4 shadow-sm">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ formulario.as_p }}
            
            <div class="mt-4">
                <button type="submit" class="btn btn-success">Guardar Cambios</button>
                <a href="{% url 'Pages' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}