<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>{% block titulo_pagina %}Tienda de Celulares{% endblock %}</title>
</head>
<body class="bg-light">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <header style="background-color: #007bff; color: white; padding: 15px;">
        <nav>
            <a href="{% url 'inicio' %}" class="btn btn-light btn-sm me-2">Inicio</a>
            <a href="{% url 'marca_form' %}" class="btn btn-light btn-sm me-2">Crear Marca</a>
            <a href="{% url 'proveedor_form' %}" class="btn btn-light btn-sm me-2">Crear Proveedor</a>
            <a href="{% url 'celular_form' %}" class="btn btn-light btn-sm me-2">Crear Celular</a>
            <a href="{% url 'buscar_celular' %}" class="btn btn-light btn-sm me-2">Buscar</a>
        </nav>
    </header>

    <main style="padding: 20px;">
        {% block contenido_principal %}
        {% endblock %}
    </main>

    <footer style="margin-top: 50px; padding: 10px; border-top: 1px solid #ccc;">
        
    </footer>
</body>
</html>