{% extends "Web_App/base.html" %}

{% block titulo_pagina %}Resultados de Busqueda{% endblock %}

{% block contenido_principal %}
    <h2>Resultados de Busqueda</h2>

    {% if celulares %}
        <p>Se encontraron {{ celulares|length }} celular(es) para "{{ termino }}":</p>
        
        <ul>
        {% for celular in celulares %}
            <li>
                **{{ celular.modelo }}** de la marca {{ celular.marca.nombre }} - Precio: ${{ celular.precio }} (Stock: {{ celular.stock }})
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron celulares que coincidan con "{{ termino }}".</p>
        <p>Intenta una nueva busqueda <a href="{% url 'buscar_celular' %}">aca</a>.</p>
    {% endif %}
    
{% endblock %}